// Logo
.logo {
  color: $logo-color;
  font-size: $navbar-brand-font-size;
  line-height: 1.1;
  &:hover {
    text-decoration: none;
    color: $logo-color;
  }
  img {
    width: $logo-size;
    height: $logo-size;
    margin-right: .5rem;
  }
}