.sidebar {
  background-color: #137bc1;
  border-right-color: transparent !important;
  .nav-link,
  .nav-link:focus:not(:hover):not(.active),
  .nav-sub ul a {
    color: #a9d8f7;
  }
  .logo,
  .nav-link:hover,
  .nav-link.active,
  .nav-sub ul a:hover,
  .nav-sub ul a.active {
    color: #fff;
  }
  .nav-link:hover,
  .nav-link.active {
    background-color: #158ad8;
  }
  .nav-sub ul {
    background-color: #116caa;
  }
  .nav-link.active {
    box-shadow: 3px 0 0 0 #ffd062 inset;
  }
}