.font-size-base {
  font-size: $font-size-base;
}
.font-size-sm {
  font-size: $font-size-sm;
}
.font-size-lg {
  font-size: $font-size-lg;
}
.text-decoration-underline {
  text-decoration: underline;
}
.font-number {
  font-family: $font-number;
}